  <div class="bottom">
    <div class="bottom-inner">
      <div class="footer-col">
        <h4>合作伙伴</h4>
        <ul>
          <li><a href="https://www.tuniu.com" target="_blank" rel="noopener">途牛旅游网</a></li>
          <li><a href="https://www.lvmama.com" target="_blank" rel="noopener">驴妈妈旅游网</a></li>
          <li><a href="https://www.ctrip.com" target="_blank" rel="noopener">携程旅行网</a></li>
          <li><a href="https://www.mafengwo.cn" target="_blank" rel="noopener">马蜂窝旅游网</a></li>
          <li><a href="https://www.qunar.com" target="_blank" rel="noopener">去哪儿网</a></li>
          <li><a href="https://www.tongcheng.com" target="_blank" rel="noopener">同程旅行</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>热门目的地</h4>
        <ul>
          <li><a href="/tour/10">🏔️ 黄山 · 天下第一奇山</a></li>
          <li><a href="/tour/11">🌊 九寨沟 · 人间仙境</a></li>
          <li><a href="/tour/12">🏝️ 三亚 · 天涯海角</a></li>
          <li><a href="/tour/13">🏯 丽江 · 玉龙雪山</a></li>
          <li><a href="/tour/14">🏔️ 张家界 · 阿凡达仙境</a></li>
          <li><a href="/tour/15">🎋 桂林 · 山水甲天下</a></li>
          <li><a href="/tour/16">🛕 西安 · 千年古都</a></li>
          <li><a href="/tour/17">🌺 西双版纳 · 热带雨林</a></li>
          <li><a href="/tour/18">🏘️ 乌镇 · 梦里水乡</a></li>
          <li><a href="/tour/19">🏰 故宫 · 紫禁城深度游</a></li>
          <li><a href="/tour/3">🏖️ 海南 · 热带度假</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>旅游FAQ</h4>
        <ul>
          <li><a href="/lywd">旅游合同签订方式？</a></li>
          <li><a href="/lywd">儿童价是怎么制定的？</a></li>
          <li><a href="/lywd">线路品质怎么界定？</a></li>
          <li><a href="/lywd">单房差是什么？</a></li>
          <li><a href="/lywd">旅游保险有哪些种类？</a></li>
          <li><a href="/lywd">签证需要提前多久办？</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>联系方式</h4>
        <ul>
          <li>📞 电话：<a href="tel:4008889999" style="color:#898988;">400-888-9999</a></li>
          <li>📧 邮箱：<a href="mailto:service@smart-tourism.com" style="color:#898988;">service@smart-tourism.com</a></li>
          <li>📍 地址：上海市浦东新区陆家嘴</li>
          <li>🕐 服务时间：周一至周日 9:00-21:00</li>
          <li class="social-icons" style="margin-top:8px;">
            <a href="https://im.qq.com/"><img src="/img/qq.png" alt="QQ"></a>
            <a href="https://weixin.qq.com/"><img src="/img/wx.png" alt="微信"></a>
            <a href="https://weibo.com/"><img src="/img/wb.png" alt="微博"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy">
    <p>© 2026 智慧旅游服务平台 | 沪ICP备9999999号 | 旅行社经营许可证:L-YC-BK99999</p>
  </div>

  <script src="/js/swiper-bundle.min.js"></script>
  <script>
    // Flash message auto-hide
    document.querySelectorAll('.flash-msg, .flash-error').forEach(el => {
      setTimeout(() => { el.style.display = 'none'; }, 4000);
    });
  </script>
</body>
</html>
